.filter {
  label {
    padding: 4px 0;
    margin-right: 15px;
    position: relative;
  }

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }

  span {
    margin-left: 3px;
    position: relative;
    top: -2px;
  }
}