$primary: #ffc200;
$secondary: #3fb5de;
$light: #ccc;
$grey: #666;
$blue: #0e77f1;
$blue-hover: #0e77f1;
$orange: #ee8e00;
$orange-hover: #c67600;
$red: #e01a2b;

$xsmall-screen: 600px;
$small-screen: 840px;
$medium-screen: 1024px;
$laptop-screen: 1280px;

$xsmall: "only screen and (max-width: #{$xsmall-screen})";
$small: "only screen and (max-width: #{$small-screen})";
$medium: "only screen and (max-width: #{$medium-screen})";
$laptop: "only screen and (max-width: #{$laptop-screen})";